body {

}

.alert-pre {
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
}
#root {
    background-color: #282c34;
    color:#fff;
    padding-top:50px;
    min-height:1100px;
}

.table {
    color:#fff !important;
}

tr.expired {
    color:#7E7E7E;
}

.header  {
    border-bottom:1px solid #fff;
}

.room-name {
    margin-top:30px;
}

.section {
    margin-top:50px;
}

.section h6, .light {
    font-weight:300;
}

.section h3{
    line-height:40px;
}

input[type=submit] {
    margin:60px 0px 40px 0px ;
}

.new_row {
    clear:both;
}

.book-until .row {
    margin-bottom:30px;
}

.lead {
    margin:30px 0px 50px 0px;
}

.home-link {
    color:#fff;
    text-decoration: none;
}

.home-link:hover {
    color:#fff;
    text-decoration: none;
}

.home-link:active {
    color:#fff;
    text-decoration: none;
}

.home-link:visited {
    color:#fff;
    text-decoration: none;
}
