body {

    width:768px;
}

.alert-pre {
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
}
#root {
    background-color: #282c34;
    color:#F8F9F8;
    padding-top:50px;
    min-height:1024px;
}

.table {
    color:#F8F9F8 !important;
}

tr.expired {
    color:#B3B3B3;
}

.header  {
    border-bottom:1px solid #fff;
}

.room-name {
    margin-top:20px;
}

.section {
    margin-top:30px;
}

.section.next, .section.today {
    margin-top:50px;
}

.section.now {
    margin-top:10px;
}
.section h6, .section h5, .light {
    font-weight:300;
}

.section h3{
    line-height:40px;
}

input[type=submit] {
    margin:60px 0px 40px 0px ;
}

.new_row {
    clear:both;
}

.book-until .row {
    margin-bottom:30px;
}

.book-until {
    max-height:330px;
    overflow:scroll;
}

.lead {
    margin:30px 0px 50px 0px;
}

.home-link {
    color:#F8F9F8;
    text-decoration: none;
}

.home-link:hover {
    color:#F8F9F8;
    text-decoration: none;
}


.home-link:active {
    color:#F8F9F8;
    text-decoration: none;
}

.home-link:visited {
    color:#F8F9F8;
    text-decoration: none;
}

button.btn-secondary.selected {
    background-color:#238276;
    border-color:#238276;
}

.bg-image {
    position: fixed;

    top:0;
    height:1024px;
    width:768px;
    opacity: 0.2;
}

.action {
    position:absolute;
    bottom:40px;
    width:690px;

}

.bottom-spacer {
    margin-bottom:30px;
}

.container .btn-primary {
    color: #fff;
    background-color: #264653;
    border-color: #264653;
}

.container .btn-primary:visited {
    color: #fff;
    background-color: #264653;
    border-color: #264653;
}

.container .btn-primary:hover {
    color: #fff;
    background-color: #1D353F;
    border-color: #1D353F;
}

.container .btn-primary:not(:disabled):not(.disabled):active:active {
    color: #fff;
    background-color: #1D353F;
    border-color: #1D353F;
}



.container .btn-success {
    color: #fff;
    background-color: #238276;
    border-color: #238276;
}

.container .btn-success:visited {
    color: #fff;
    background-color: #238276;
    border-color: #238276;
}

.container .btn-success:hover {
    color: #fff;
    background-color: #1B665D;
    border-color: #1B665D;
}

.container .btn-success:not(:disabled):not(.disabled):active:active {
    color: #fff;
    background-color: #1B665D;
    border-color: #1B665D;
}



.container .btn-error {
    color: #fff;
    background-color: #E76F51;
    border-color: #E76F51;
}

.container .btn-error:visited {
    color: #fff;
    background-color: #E76F51;
    border-color: #E76F51;
}

.container .btn-error:hover {
    color: #fff;
    background-color: #BB5137;
    border-color: #BB5137;
}

.container .btn-error:active {
    color: #fff;
    background-color: #BB5137;
    border-color: #BB5137;
}

.container .btn-warning {
    color: #fff;
    background-color: #F4A261;
    border-color: #F4A261;
}

.container .btn-warning:visited {
    color: #fff;
    background-color: #F4A261;
    border-color: #F4A261;
}

.container .btn-warning:hover {
    color: #fff;
    background-color: #F4A261;
    border-color: #F4A261;
}

.container .btn-warning:active {
    color: #fff;
    background-color: #F4A261;
    border-color: #F4A261;
}


.today-table {
    height:410px;
    overflow: scroll;
}


.next-event-alt-day-date {
    margin-top:-15px;
}
